{% extends "base.html" %}
{% block title %}Profesores{% endblock %}
{% block content %}

<section class="hero">
  <h1>👩‍🏫 Nuestro Equipo</h1>
  <p>Un grupo de docentes comprometidos con tu preparación académica.</p>
</section>

<section class="grid">
  <div class="card">
    <h2>Matias Vazquéz <G></G></h2>
    <p>Profesor de Matemática.</p>
  </div>
  <div class="card">
    <h2>Martín Galvéz</h2>
    <p>Profesor de Historia y Ciencias Sociales.</p>
  </div>
  <div class="card">
    <h2>Benjamín Gaete</h2>
    <p>Profesor de Lenguaje.</p>
  </div>
  <div class="card">
    <h2>Cristian Saavedra <br>Agustín Serrano<br>Maximiliano Hernandez</h2>
    <p>Profesores de Ciencias.</p>
  </div>
</section>

{% endblock %}
